@CHARSET "UTF-8";
body {
    font-family: verdana,sans-serif;
    padding: 0px;
    margin: 0px;
}
a {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #000000;
}
a:focus {
    outline: none;
}
a:visited {
}
ul {
    margin: 0px;
    padding: 0px;
}
h2 {
    font-size: 1.6em;
    font-weight: 500;
}
fieldset {
    padding: 0px;
    margin: 0px;
    border: none;
}
table {
    border-spacing: 0px;
}
#header {
	color: #fff;
    padding: 16px 16px 0px 0px;
    font-size: 32px;
    background: #88bbff;
    text-align: right;
}
#header a {
    color: #fff;
}
#header, #links-container {
    border-bottom: 2px solid navy;
}
#links {
	text-align: center;
}
#links li {
	text-decoration: none;
}
#links-footer {
    clear: both;
}
#content {
	text-align: center;
	margin-top: 8px;
	padding: 8px 0px 8px 0px;
}
#footer-container {
}

#footer {
}
.screenshots img {
	margin: 8px;
    border: 1px solid #555;
}
.buyContainer {
	text-align: center;
    margin-top: 12px;
	margin-bottom: 12px;
}
.buyContainer div {
    padding: 8px;
}