[submodule "resources/lib/envisionjs"]
	path = resources/lib/envisionjs
	url = git@github.com:HumbleSoftware/envisionjs.git
[submodule "resources/lib/flotr2"]
	path = resources/lib/flotr2
	url = git@github.com:HumbleSoftware/Flotr2.git
[submodule "humblesoftware.v1"]
	path = humblesoftware.v1
	url = git@github.com:HumbleSoftware/humblesoftware.com.git
