<div class="section home">
  <p>
  Humble Software provides software development services and maintains several
  open source projects.  Services include client-side application development,
  API design and specification, and dynamic data visualization.
  <a href="<?php echo base_url(); ?>contact">Contact us</a> to learn more.
  </p>
</div>

<div class="section portfolio">
  <a name="portfolio"></a>
  <h2>Portfolio</h2>
  <div class="row">
    <div class="col-sm-4 block">
      <img width="200px" height="160px">
      <p>
      <em>EMRE</em> is a library for drawing HTML5 charts and graphs. It 
      is a branch of flotr which removes the Prototype dependency and includes 
      many improvements.
      </p>
    </div>
    <div class="col-sm-4 block">
      <img width="200px" height="160px">
      <p>
      <em>Transpara</em> is a library for drawing HTML5 charts and graphs. It 
      is a branch of flotr which removes the Prototype dependency and includes 
      many improvements.
      </p>
    </div>
    <div class="col-sm-4 block">
      <img width="200px" height="160px">
      <p>
      <em>Dataloader.io</em> is a library for drawing HTML5 charts and graphs. It 
      is a branch of flotr which removes the Prototype dependency and includes 
      many improvements.
      </p>
    </div>
  </div>
</div>

<div class="section projects">
  <a name="projects"></a>
  <h2>Projects</h2>
  <div class="row">
    <div class="col-sm-4 block">
      <img width="200px" height="160px">
      <p>
      <em>Envision.js</em> is a library for drawing HTML5 charts and graphs. It 
      is a branch of flotr which removes the Prototype dependency and includes 
      many improvements.
      </p>
    </div>
    <div class="col-sm-4 block">
      <img width="200px" height="160px">
      <p>
      <em>Flotr2</em> is a library for drawing HTML5 charts and graphs. It 
      is a branch of flotr which removes the Prototype dependency and includes 
      many improvements.
      </p>
    </div>
    <div class="col-sm-4 block">
      <img width="200px" height="160px">
      <p>
      <em>js-imagediff</em> is a library for drawing HTML5 charts and graphs. It 
      is a branch of flotr which removes the Prototype dependency and includes 
      many improvements.
      </p>
    </div>
  </div>
</div>

<div class="section contact">
  <a name="contact"></a>
  <h2>Contact</h2>
  <div class="row">
    <div class="col-sm-6">
      <form class="form-contact">
        <input class="form-control" name="name" placeholder="your name">
        <input class="form-control" name="email" placeholder="your email">
        <textarea class="form-control" name="email" placeholder="your message..."></textarea>
        <input class="form-control" type="submit" class="btn" value="send message">
      </form>
    </div>
    <div class="col-sm-6">
      <ul class="nav">
        <li><a href="github.com">github</a></li>
        <li><a href="twitter.com">twitter</a></li>
      </ul>
    </div>
  </div>
</div>
