.chart {
  position: relative;
  height: 540px;
  padding-top: 54px;
}

/* Controls */
.controls {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 12px;
}
.control, .controls .label {
  float: left;
  text-align: center;
}
.control.rank {
  width: 52px;
}
.control.revenue {
  width: 70px;
}
.control.profit {
  width: 52px;
}
.control {
  cursor: pointer;
}
.control.selected {
  font-weight: bold;
}

/* Inflation */
.inflation {
  position: absolute;
  top: 20px;
  right: 0px;
  font-size: 12px;
  width: 200px;
  text-align: right;
  padding-right: 10px;
}
.inflation label {
  width: 150px;
  display: inline;
}

/* Company */
.company {
  font-size: 12px;
  display: none;
  color: #222;
  position: absolute;
}
.company-arrow {
  background: url('../../images/demos/fortune-arrow.png') top center no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  width: 13px;
  height: 7px;
  top: 0px;
}
.company-content {
  margin-top: 5px;
  border: 2px solid #4863a0;
  padding: 6px 6px 8px 6px;
  background: #fff;
  border-radius: 5px;
}
.company .name {
  font-size: 14px;
  font-weight: bold;
  margin: 0px 40px 6px 0px;
  white-space: nowrap;
}
.company .year {
  position: absolute;
  right: 6px;
  top: 7px;
}
.company .year .label {
  display: none;
}
.company .data div {
  display: inline-block;
}
.company .label {
  text-align: right;
  margin-right: 8px;
  width: 50%;
}

/* Labels */

.labels {
  position: absolute;
  left: 0px;
  top: 558px;
  width: 840px;
  margin-left: -20px;
}
.labels .label {
  text-align: center;
  width: 70px;
  font-size: 12px;
  float: left;
}
