/* HSD */
#content {
  width: auto;
}

.flotr-examples-medium .flotr-examples-thumbs,
.flotr-examples-large .flotr-examples-thumbs {
    overflow-x: hidden;
}

/* Flotr Examples */
.flotr-example {
  display: none;
  margin: 0px auto 48px auto;
  position: relative;
}
.flotr-example-label {
  font-size: 18px;
  padding: 14px 0px;
}
.flotr-example-graph {
  height: 400px;
  width: 600px;
}
.flotr-example-editor,
.flotr-example-source {
  width: 600px;
}
.flotr-example-source pre.prettyprint {
  padding: 12px;
  margin: 0px;
  display: block;
  background: #f6f6f6;
  white-space : pre;
  font-weight: normal;
  overflow-x: auto;
}
.flotr-example-editor {
  position: absolute;
  top: 0px;
}
.flotr-example-editor-text {
  padding: 12px;
  position: absolute;
  resize: none;
}
.flotr-example-editor-controls {
  top: 38px;
  right: 16px;
  position: absolute;
}
.flotr-example-editor-controls button {
  height: 26px;
  margin-left: 6px;
}

.flotr-examples-reset {
  z-index: 100;
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  top: 400px;
  right: 24px;
  display: none;
}
.flotr-examples-collapsed .flotr-examples-reset {
  display: block;
}
.flotr-examples-thumbs {
  text-align: center;
}
.flotr-examples-thumb {
  display: inline-block;
  font-size : 11px;
  width : 300px;
  height : 200px;
  margin: 10px 15px;
  border: 2px solid transparent;
}
.flotr-examples-thumb.flotr-examples-highlight{
  font-size : 12px;
  width : 330px;
  height : 220px;
  margin: 0px 0px;
}
.flotr-examples-thumb .flotr-legend,
.flotr-examples-thumb .flotr-mouse-value {
  display : none;
}

.flotr-examples-collapsed .flotr-examples-container {
  margin-top: 20px;
  position: relative;
  margin: 0px auto;
}

.flotr-examples-collapsed .flotr-examples-thumbs {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}

/* Chart no-select */

.flotr-example-graph,
.flotr-examples-thumb {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
