@CHARSET "UTF-8";
body, html { height: 100%; }
body {
    font-family: verdana,sans-serif;
    padding: 0px;
    margin: 0px;
}
a {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #000000;
}
a:focus {
    outline: none;
}
a:visited {
}
ul {
    margin: 0px;
    padding: 0px;
}
h2 {
    font-size: 1.6em;
    font-weight: 500;
}
h3 {
    font-size: 1.6em;
    font-weight: 500;
}
fieldset {
    padding: 0px;
    margin: 0px;
    border: none;
}
table {
    border-spacing: 0px;
}
#header {
    padding: 4px 12px 0px 0px;
    font-size: 44px;
    background: #88bbff;
    text-align: right;
}
#header a {
    color: #fff;
}
#links {
    text-align: center;
    width: 800px;
    margin: 0px auto;
    clear: both;
    padding: 6px;
}
#links-container, #header {
    border-bottom: 2px solid navy;
}
#links ul {
    display: block;
}
#links li {
    list-style: none;
    display: block;
    float: left;
    width: 20%;
}
#links-footer {
    clear: both;
}
#content {
    clear: both;
    margin: 0px auto 0px;
    padding: 4px 4px 24px 4px;
    width: 800px;
}
#content p {
    padding-left: 8px;
}
#footer-container {
    clear: both;
    border-top: 1px solid #dddddd;
    bottom: 0px;
    position: fixed;
    left: 0px;
    text-align: right;
    width: 100%;
}

#footer {
    background: #ffffff;
    border-top: 1px solid #bbbbbb;
    padding: 4px 8px 2px 8px;
    font-size: .8em;
}
#footer .footer-text {
    float: left;
}
#footer .validation {
    
}
.screenshots img {
    margin: 64px 0px 20px 0px;
    border: 1px solid #555;
}
.screenshots img+img {
    margin-left: 30px;
}
.features #content ul {
    margin-left: 24px;
}
.buyContainer {
    background: #88bbff;
    border: 2px solid navy;
    border-bottom: 0px;
    width: 200px;
    height: 30px;
    position: fixed;
    bottom: 23px;
    left: 50%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 12px 0px 8px 0px;
    margin-left: 320px;
    border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
}
.buyContainer div.get {
    margin-top: 3px;
    margin-left: 12px;
    float: left;
}
.buyContainer div.donateButton {
    margin-right: 6px;
    float: right;
}
.buyContainer .donateButton form {
    display: inline;
    display: inline;
}
.buyContainer .get a, .get a:visited, .get a:hover {
    color: #ffffff;
}
.features ul {
    list-style: none;
}
.features .summary {
    background: url(../images/helloreddit/plus.gif) no-repeat 0px 4px;
    cursor: pointer;
    padding: 0px 0px 4px 16px;
    text-decoration: underline;
}
.features .description {
    width: 700px;
    border-left: 2px solid navy;
    margin-left: 16px;
}
.features .description p {
    padding: 6px 0px 4px 12px;
    margin: 0px;
}
.feature {
    margin-bottom: 16px;
}
/**
 * Form CSS
 */
.form {
    padding: 24px 0px 0px 0px;
    width: 450px; margin: 0px auto;
}
.formItem {
}
.formLabel {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    width: 220px;
}
.formInput {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 224px;
}
.formDescription {
    font-size: .8em;
    padding: 4px 0px 4px 8px;
    margin-left: 4px;
    border-left: 2px solid navy;
}
.formSubmit {
    display: block; padding: 16px 0px; text-align: right; width: 100%;
}
