/* Editor */
.editor {
    position: relative;
}
.editor .render {
    height: 240px;
    width: 320px;
    margin: 8px auto;
}
.editor .source {
    border: 1px solid #ddd;
    border-radius: 3px;
}
.editor .controls {
    position: absolute;;
    z-index: 100;
    right: 8px;
    margin-top: -12px;
}
.editor .controls button {
    float: right;
}
.editor .errors {
    color: #ee0000;
    padding: 8px;
    font-size: 12px;
    background: #fee;
    border-bottom: 1px solid #eee;
}
.editor .errors .error {
    font-weight: bold
}
.editor .errors .message {
    font-style: italic;
}
.editor .errors .position {
    display: block;
    margin-top: 4px;
}
.editor.no-run .controls,
.editor.no-run .render {
    display: none;
}

/* html type */
.editor.html .render {
    height: 400px;
    width: 800px;
    text-align: center;
}
.editor.html .render iframe {
    height: 100%;
    width: 100%;
    border: none;
}

/* CodeMirror */
.CodeMirror {
    background: #fafafa;
}
.CodeMirror.CodeMirror-focused {
}
.CodeMirror-scroll {
    height: auto;
    overflow: visible;
    overflow-x: auto;
}
.CodeMirror-lines pre,
.CodeMirror-gutter pre {
    line-height: 16px;
}


.CodeMirror {
  line-height: 1em;
  font-family: monospace;
}

.CodeMirror-scroll {
  overflow: auto;
  height: 300px;
  /* This is needed to prevent an IE[67] bug where the scrolled content
     is visible outside of the scrolling box. */
  position: relative;
}

.CodeMirror-gutter {
  position: absolute; left: 0; top: 0;
  z-index: 10;
  background-color: #f7f7f7;
  border-right: 1px solid #eee;
  min-width: 2em;
  height: 100%;
}
.CodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .2em .4em .4em;
  white-space: pre !important;
}
.CodeMirror-lines {
  padding: .4em;
}

.CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-width: 0; margin: 0; padding: 0; background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0; margin: 0;
  white-space: pre;
  word-wrap: normal;
}

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

.CodeMirror textarea {
  outline: none !important;
}

.CodeMirror pre.CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 1px solid black;
}
.CodeMirror-focused pre.CodeMirror-cursor {
  visibility: visible;
}

span.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused span.CodeMirror-selected { background: #d2dcf8; }

.CodeMirror-searching {background: #ffa;}

/* Default theme */

.cm-s-default span.cm-keyword {color: #708;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: #164;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable {color: black;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #085;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-operator {color: black;}
.cm-s-default span.cm-comment {color: #a50;}
.cm-s-default span.cm-string {color: #a11;}
.cm-s-default span.cm-string-2 {color: #f50;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00c;}
.cm-s-default span.cm-header {color: #a0a;}
.cm-s-default span.cm-quote {color: #090;}
.cm-s-default span.cm-hr {color: #999;}
.cm-s-default span.cm-link {color: #00c;}

span.cm-header, span.cm-strong {font-weight: bold;}
span.cm-em {font-style: italic;}
span.cm-emstrong {font-style: italic; font-weight: bold;}
span.cm-link {text-decoration: underline;}

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}

/* Flotr */
.flotr-handles-handle {
  background: #eee;
  border: 1px solid #333;
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
}
.flotr-handles-handle,
.flotr-grid-label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.flotr-handles-drag {
  height: 12px;
  width: 6px;
}
.flotr-handles-scroll {
  height: 6px;
  cursor: move;
}
.flotr-handles-left {
  cursor: w-resize;
}
.flotr-handles-right {
  cursor: e-resize;
}


/* Dimensions */
.envision-finance {
  width: 600px;
}
.envision-finance-price .envision-child {
  height : 200px;
}
.envision-finance-volume .envision-child {
  height : 60px;
}
.envision-finance-connection .envision-child {
  height: 16px;
}
.envision-finance-summary .envision-child {
  height : 70px;
  margin-top: -2px;
}

/* Bubble Borders */
.envision-finance-price,
.envision-finance-volume {
  border: 1px solid #B6D9FF;
  padding-top: 8px;
  background: #fff;
}
.envision-finance-price {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.envision-finance-volume {
  border-top: 0px;
}

/* Connection overlay */
.envision-finance-connection canvas {
  z-index: 10;
  background: #fff;
}
.envision-finance-connection canvas object {
  margin-top: -2px;
}

/* Y-Axis Labels */
.envision-finance-price .flotr-grid-label {
  margin-left: 4px;
}
.envision-finance-price .flotr-grid-label.first {
  margin-top: -6px;
}

/* X-Axis Labels */
.envision-finance-summary .flotr-grid-label {
  margin-top: 3px;
}

/* Mouse Tracker */
.envision-finance-price .flotr-mouse-value {
	font-size: 12px;
}
.envision-finance-volume .flotr-mouse-value {
  display: none;
}

@media screen and (max-width: 600px) {
  div#demo {
    height: 253px;
  }
  .envision-finance {
    width: 100%;
  }
  .envision-finance-price .envision-child {
    height: 120px;
  }
  .envision-finance-summary .envision-child,
  .envision-finance-volume .envision-child{
    height: 40px;
  }
}

.editor .controls {
  margin-top: -20px;
}

#content p, #content ul, #content .editor{
  margin: 14px 0px;
}
#content p, #content li, #content code {
  font-size: 14px;
  line-height: 22px;
}

#content h2 {
  border-bottom: 1px solid #ccc;
}

#content li {
  margin-left: 40px;
  list-style: circle;
}

#content code {
  font-size: 13px;
  white-space: nowrap;
  padding: 1px;
  border: 1px solid #DDD;
  border-radius: 3px;
  background: #fafafa;
}

#content section {
  overflow: hidden;
}

#content .introduction h2 {
  margin-top: 0px;
}
#content .introduction ul {
  width: 400px;
}
#content .introduction .features {
  float: left;
}
#content .introduction .types {
  float: right;
}

/* Nav */
#documentation-nav {
  padding: 12px 16px 0px 16px;
  z-index: 1000;
  position: fixed;
  right: 12px;
  bottom: 28px;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 3px;
}
#documentation-nav h2 {
  font-size: 18px;
  display: inline;
}
#documentation-nav li {
  margin-left: 0px;
  list-style: none;
}

@media screen and (max-width: 800px) {
  #documentation-nav {
    padding: 0px;
    position: static;
    border: none;
  }
  #documentation-nav h2 {
    display: block;
  }
  #content .introduction ul {
    width: auto;
    margin: 0px;
  }
  #content .introduction .features,
  #content .introduction .types {
    float: none;
  }
}

.editor .render {
  margin: 20px;
  width: auto;
  height: auto;
}
.editor .render .envision-visualization {
  padding-bottom: 20px;
  margin: 0px auto;
}

/* Code Mirror */
.CodeMirror {
  background: #fafafa;
}
.CodeMirror.CodeMirror-focused {
}
.CodeMirror-scroll {
  height: auto;
  overflow: visible;
  overflow-x: auto;
}
.CodeMirror-lines pre,
.CodeMirror-gutter pre {
  line-height: 16px;
}
