@CHARSET "UTF-8";
body, html { height: 100%; }
body {
    color: #333333;
    font-family: verdana,sans-serif;
    padding: 0px;
    margin: 0px;
}
a {
    border: none;
    color: #333333;
}
a:hover {
    color: #000000;
}
a:focus {
    outline: none;
}
a:visited {
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1em;
}
table {
    border-spacing: 0px;
}
fieldset {
    padding: 0px;
    margin: 0px;
    border: none;
}
#body-container {
    height: 100%;
}
#header {
    background: url('../images/shadow.gif') repeat-x bottom;
    font-size: 2em;
    padding: 24px 0px 52px 0px;
    text-align: center;
}
#links {
    text-align: center;
    width: 800px;
    margin: -34px auto 0px auto;
}
#links a {
    text-decoration: none;
    font-weight: normal;
}
#links a:hover {
    text-shadow: 0em 0em 0.5em #333333;
}
#links li {
    float: left;
    width: 20%;
}
#links li span {
    display: block;
    padding-top: 6px;
}
#links li.current-page {
    text-shadow: 0em 0em 0.5em #333333;
}
#links li.current-page span {
    border: solid #bbbbbb;
    border-width: 1px 1px 0px 1px;
    text-shadow: 0em 0em 0.3em #666666;
    color: #000000;
    background: #ffffff;
    padding: 8px 4px 8px 4px;
}
#links-footer {
    clear: both;
}
#content {
    clear: both;
    margin: 0px auto 22px;
    padding: 40px 0px 32px 0px;
    width: 800px;
}

#footer-container {
    z-index: 100;
    clear: both;
    /*
    border-top: 1px solid #dddddd;
    padding-top: 1px;
    background: #fff;
    */
    bottom: 0px;
    position: fixed;
    left: 0px;
    text-align: right;
    width: 100%;
}

#footer {
    background: #ffffff url('../images/shadow.gif') repeat-x top; 
    /*
    border-top: 1px solid #bbbbbb;
    */
    padding: 3px 8px 3px 8px;
    font-size: .8em;
}
#footer a {
    text-decoration: none;
}
#footer .footer-text {
    float: left;
}
#footer .footer-links {
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    margin: 0px auto;
}
#footer .validation {
    
}

/**
 * Splash Screen
 */
.splash #header-container {
    display: none;
}
.splash #enter:hover {
    text-shadow: 0em 0em 0.3em #666666;
}
.splash #footer-container {
    background: none;
    border: none;
}
.splash #footer {
    position: absolute;
    border: 0px;
    bottom: 0px;
    right: 0px;
    background: none;
}
.splash #content {
    position: absolute;
    text-align: center;
    top: 42%;
    width: 100%;
}
/**
 * For home screen
 */
.home p.summary {
    text-indent: 2em;
    padding: 12px 48px 24px 48px;
    font-size: 17px;
}
.home #homeSummary {
    margin-top: 32px;
}
.home .project {
    width : 360px;
    float : left;
    margin: 0px 20px 28px 20px;
    position: relative;
    overflow: hidden;
}
.home .project .title {
    position: absolute;
    left: 0px;
    top: 0px;
}
.home .project .icon {
    margin-left: 8px;
    float: right;
}
.home .project .icon img {
    border: 1px solid #dddddd;
}
.home .project .description {
    display: block;
    margin-top: 32px;
    font-size: 14px;
}
.home .footer {
    clear: both;
}

/**
 * For Products
 */
.project-summary {
    padding-left: 20px;
    margin: 0px 0px 32px 16px;
    background: url('../images/leftshadow.gif') repeat-y;
}
.projects .icon img {
    border: 1px solid #dddddd;
}
.projects .icon {
    float: right;
    width : 200px;
    margin-top : -28px;
    text-align : center;
}
/**
 * Contact
 */
form {
    margin-left: 16px;
}
.contact h3.feedback {
    margin-top: 36px;
}
.contact .label,
label {
    float: left;
    display: block;
    margin-top: 2px;
    width: 90px;
    float: left;
}
input {
    margin-bottom: 8px;
    width: 240px;
}
textarea {
    width: 600px;
    height: 320px; 
}
#submit {
  border: 1px solid #333;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #fff;
  font-size: 18px;
    width: auto;
  margin: 6px 0px 0px 90px;
  padding: 6px 9px 4px 9px;
}
span.label {
    margin-left: 16px;
}
.errors {
  color: #e00;
}
/**
 * Effects
 */
.portfolio .humble-window-container {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    z-index: 100;
}

.portfolio .humble-window-decoration {
    border: 8px solid white;
    margin: 0 auto;
    background: #ffffff;
    width: 600px;
    height: 480px;
    text-align: left;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 2px;
}
 
.portfolio .humble-window-extra {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 99;
}
.portfolio .humble-window-header {
    padding: 2px 4px 0px 4px;
}
.portfolio .humble-window-controls {
    float: right;
    padding-left: 8px;
    cursor: pointer;
}

.portfolio .humble-window-content {
    background: url('../images/shadow.gif') repeat-x;
    clear: both;
}
.portfolio .humble-window-footer {
}
.portfolio-item-page .image {
    text-align: center;
    padding: 20px 0px
}
.portfolio-item-page .image img {
    border: 1px solid #eeeeee;
    padding: 3px;
}
/**
 * Feedback
 */
.feedbackPage .logout {
    font-size: 12px;
    float: right;
}
.feedbackPage .title {
    margin: 0px 0px 24px 0px;
}
.feedbackItem {
    font-size: 14px;
    margin-bottom: 2px;
    padding-bottom: 6px;
    background: url('../images/shadow.gif') repeat-x bottom;
}
.feedbackItem div {
    clear : both;
}
.feedbackItem .label {
    font-size: 12px;
    width: 120px; float: left;
}
.feedbackItem .date {
    margin-bottom: -18px;
    float: right;
}
.feedbackItem .date .label {
    text-indent: -9000px;
}
.feedbackItem .feedback {
    padding: 12px 0px 12px 120px;
}
.feedbackItem .feedback .label {
    margin-left: -9000px;
}
#recaptcha_widget_div {
    margin-left: 90px;
}
#recaptcha_widget_div .recaptchatable {
    border: 1px solid #000 !important;
}

/**
 * Downloads
 */
.downloadPage .logout {
    font-size: 12px;
    float: right;
}
.downloadPage .title {
    margin: 0px 0px 24px 0px;
}
.fileItem {
    font-size: 14px;
    margin: 0px 24px;
    padding: 6px;
    /*background: url('../img/shadow.gif') repeat-x bottom;*/
    border-bottom: 1px solid #999;
}
.fileItem .label {
    font-size: 12px;
    width: 120px; float: left;
}

/* Listing */
.listing .toggle {
  font-weight: normal;
  font-size: 12px;
  color: #777;
  float: right;
  cursor: pointer;
}
.listing .file {
	font-family: monospace;
	font-size: 1.2em;
}

/* Snippet */
.snippet {
  padding: 0px 0px 3px 6px;
  padding-left: 20px;
  margin-left: 16px;
  background: url('../images/leftshadow.gif') repeat-y;
}
.snippet code {
  white-space: pre;
  text-align: left;
}
