@import './projects.scss';
@import './demos.scss';

body {
}

main {
  min-height: 340px;
}

footer {
  margin: 40px 0px;
  padding-top: 6px;
  font-size: 0.8em;
  border-top: 4px solid #e2DDDB;
  color: #928986;
}

footer a:visited,
footer a:link {
	color: #928986;
	text-decoration: underline;
}

footer .row {
	padding: 0px -10px;
}

