<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule sitemap.xml static/files/sitemap.xml
    RewriteRule sitemap.html static/files/sitemap.html
    # Flotr Images:
    RewriteRule flotr2/images/(.*) static/images/$1
    # CI:
    RewriteCond $1 !^(movemytaxes|static|index\.php)
    RewriteRule ^(.*)$ index.php/$1
</IfModule>
<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault "access plus 1 week"
</IfModule>
